  .container {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 10px;
    column-gap: 30px;
    text-align: center;


/*Indiferente*/
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.block1 {
    order: 0;
    background-color: brown;
    width: 100px;
    height: 100px;
}
 
.block2 {
    order: 1;
    background-color: rgb(48, 212, 136);
    width: 100px;
    height: 100px;
}
.block3 {
    order: 0;
    background-color: rgb(65, 74, 212);
    width: 100px;
    height: 100px;
}
